# SPDX-License-Identifier: Apache-2.0

# CMSIS-DAP (DAPLink 等) 下载/调试
# 用法: west flash -r openocd -- --config=openocd_dap.cfg
source [find interface/cmsis-dap.cfg]

transport select swd

source [find target/stm32g4x.cfg]

$_TARGETNAME configure -event gdb-attach {
	echo "Debugger attaching: halting execution"
	reset halt
	gdb_breakpoint_override hard
}

$_TARGETNAME configure -event gdb-detach {
	echo "Debugger detaching: resuming execution"
	resume
}
